/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

html { 
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
   -webkit-tap-highlight-color:rgba(0,0,0,0)
}

/* IMPORT FONTS */
@font-face {
    font-family: Regular;
    src: url(fonts/Rubik/static/Rubik-Regular.ttf);
}
@font-face {
    font-family: Medium;
    src: url(fonts/Rubik/static/Rubik-Medium.ttf);
}

@font-face {
    font-family: Bold;
    src: url(fonts/Rubik/static/Rubik-Bold.ttf);
}

@font-face {
    font-family: Light;
    src: url(fonts/Rubik/static/Rubik-Light.ttf);
}

/* GENERAL */
html { height: 100%;}
body {
    min-height: 100%;
    font-size: 18px;
}

/* HEADER COMPONENT */

.container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    min-height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #map {
        width: 100%;
        height: 66vh;
        z-index: 1; 
    }
    .name {
        color: hsl(0, 0%, 59%);
        font-size: 10px;
        font-family: Medium;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.header {
    width: 100%;
    height: 34vh;
    background: url(images/pattern-bg.png) center center no-repeat;
    background-size: cover;
    p { 
        color: white;
        letter-spacing: 1px;
        padding: 2rem 0;
        font-family: Medium;
        text-align: center;
    }
    .search-box {
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            width: 400px;
            height: 40px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            padding-left: 17px;
            &:hover {
                cursor: pointer;
            }
        }
        ::placeholder {
            color: hsl(0, 0%, 59%);
        }
        span {
            display: block;
            width: 45px;
            height: 40px;
            position: relative;
            background-color: black;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: url(images/icon-arrow.svg) center center no-repeat;
            }
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }
}

.detailBox {
   display: flex;
   width: 800px;
   min-height: 120px;
   height: fit-content;
   justify-content: space-between;
   border-radius: 10px;
   background-color: white;
   position: absolute;
   top: 11rem;
   //top: 25%;
   z-index: 2;
   .address_box, .location_box, .time_box, .isp_box {
    width: 200px;
    color: hsl(0, 0%, 59%);
    font-size: 13px;
    font-family: Medium;
    letter-spacing: 1px;
    padding: 1.2rem 0 0 1.2rem;
    .contentBox {
        color: hsl(0, 0%, 17%);
        font-size: 15px;
        font-family: Bold;
        height: fit-content;
        min-height: 60px;
        width: 180px;
        border-right: 1px solid hsl(0, 0%, 79%);
        margin-bottom: 1.2rem;
        padding: 0.6rem 1rem 0 0;
    }
   }
   .isp_box { 
       .contentBox { border: none; }
    }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 920px) {
    .container { 
        .detailBox { 
            width: 80%;
            .address_box, .location_box, .time_box, .isp_box { width: 25%;}
            div.contentBox { width: 100%;}
        }
    }
}
@media only screen and (max-width: 870px) {
    .container {
        .detailBox { 
        .contentBox { font-size: 13px;}
        }
    }
}
@media only screen and (max-width: 745px) {
    .container {
        .detailBox {
        .contentBox { font-size: 13px;}
        }
    }
}
@media only screen and (max-width: 650px) {
    .container {
        .detailBox {
            width: 75%;
            flex-wrap: wrap;
            justify-content: stretch;
            top: 9rem;
            .address_box, .location_box, .time_box, .isp_box { width: 140px;}
            .isp_box { padding-top: 0;}
            .time_box {
                .contentBox { border-right: none;}
            }
        }
    }
}
@media only screen and (max-width: 559px) {
    .container {
        .header {
            height: 40vh;
            .search-box { 
                width: 75%;
                margin: auto;
                input { width: 90%; }
                span { width: 10%; }
            }
        }
        .detailBox {
            top: 11rem;
            .address_box, .location_box, .time_box, .isp_box { width: 50%;}
            .location_box {
                .contentBox { border-right: none;}
            }
            .time_box {
                padding-top: 0;
                .contentBox { border-right: 1px solid hsl(0, 0%, 79%);}
            }
        }
    }
}
@media only screen and (max-width: 425px) {
    .container {
        #map { height: 500px;}
        .header {
            .search-box{
                width: 65%;
                input { width: 87%;}
                span { width: 13%;}
                ::placeholder { font-size: 12px;}
            }
        }
        .detailBox {
            flex-direction: column;
            width: 65%;
            top: 8.5rem;
            .address_box, .location_box, .time_box, .isp_box { 
                padding-left: 0;
                width: 100%;
                height: fit-content;
                span { 
                    display: block;
                    width: 100%;
                    text-align: center;
                }
                .contentBox { 
                    padding: 0 1rem;
                    text-align: center;
                    border-right: none;
                    height: fit-content;
                    margin: 0;
                }
            }
            .location_box { padding-top: 0;}
        }
    }
}

